* {
  margin: 0;
  padding: 0;
}

body {
    background-color: whitesmoke;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.wrapper{ 
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    font-family: 'Teko', sans-serif;
}

.profile-card__img{
    width: 115px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(0, 0, 0), 0px 0px 0px 7px rgba(90, 90, 90, 0.5);
}

.profile-card{
    width: 100%;
    margin: auto;
    background: whitesmoke;
    border-radius: 12px;
    max-width: 400px;
    position: relative;
}

.profile-card__txt {
    letter-spacing: .3px;
}

.profile-card__cnt{
    margin-top: -6.5vh;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 0px;
    transition: all .3s;
}

.profile-card-social {
    margin-top: -1.5vh;
}

.profile-card__name{
    font-size: 2.5rem;
}

.profile-card__line{
    border: .5px solid black;
    margin: -1vh auto 1vh auto;
    width: 220px;
}

.icon{
    width: 24px;
    margin: 1.2rem 1.2rem 0 1.2rem;
    border-radius: 0;
    opacity: 1;
}

.icon:hover{
    opacity: .2;
}

.text-spacing{
    display: inline-block;
    width: 2.5vw;
}